nav.footer1 {
    color: #22D3EE; /* Neon Blue text */
    outline:none;
    border-radius: 0;
    background:none;
}
a.footer1{
    color: #FACC15; /* Star Yellow text */
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
        outline:none;
    border-radius:0;
    background:none;
}
/* ===== BUTTONS OR LINKS (OPTIONAL) ===== */
button, a {
    background-color: #540863; /* Galactic Purple buttons/links */
    color: #FACC15; /* Star Yellow text */
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease, opacity 0.4s ease; /* prepare smooth transitions */
}

button:hover, a:hover {
  background-color: rgba(103, 20, 158, 0.521);

  /* Smooth scale AND fade */
  transform: scale(1.05);
  opacity: 0.95;
}
